/* src/styles.css */

.navbar {
    font-family: Markazi;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
    color: #333;
}

.logo {
    display: flex;
    align-items: center;
}
.logo img {
    max-width: 100%;
    height: auto;
    margin-right: 10px;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 15px;
    color: #333;
}

.navbar ul a {
    text-decoration: none;
    color: #333;
}
.navbar ul li {
    margin: 8px 0;
}